include LICENSE
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include tingbot *.png *.ttf *.TTF
recursive-include tingbot/platform_specific *.py
recursive-include tests *.png *.gif *.py
recursive-include tbtool *.key *.key.pub
